<!--Contains HTML and text, mixed with Handlebars expressions.-->
<!--Expressions tell Handlebars to...
    include the value of variables
    or to execute helper functions.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" src="assets/css/style.css">
    <title>Toys, Not Boys!</title>
</head>
<body>

    <script id="article-template" type="text/x-handlebars-template">
        <div id="article-box">
            <!--Contains the headline which holds the link URL-->
            <div id="article-headline">{{Article.headline}}</div>
            <div id="article-summary">{{Article.summary}}</div>
        </div>
    </script>

    <!--Nav Bar-->
    <ul class="navLinks" role="navigation">
        <li><i class="fa fa-home"></i><a href="https://www.google.com">Home</a></li>
        <li><i class="fas fa-heart"></i><a href="https://www.github.com">Saved</a></li>
        <li><button><i class="fa fa-newspaper"></i>View New Articles</button></li>
        <li><i class="fa fa-venus site-icon"></i></li>
        <li><form><input placeholder="search articles"/><i class="fa fa-search"></i></form></li>
        <!--<li><i class="fa fa-bell-o"></i>Notifications</li>-->
        <!--<li><i class="fa fa-envelope-o"></i>Messages</li>-->
        <!--<li><i class="fa fa-user-circle-o"></i></li>-->
        <!--<li><button>Login</button></li>-->
    </ul>

    <!--Website Title and Img-->
    <div class="container">
        <div class="jumbotron">
            <h1>Toys, Not Boys!</h1> <!--Venus: Homo-genius-->
            <h3>Sex Tech Review Forum</h3>
        </div>
    </div>

    <!--Article Container-->

    <!--Article is looked up on the global context, 
    the one we pass to the compiled template-->
    {{#each Article}}
        <div id="articles-container">
            <!--The context is each individual article-->
            <p href="{{link}}" target="_blank">{{headline}}</p>
            <p>{{summary}}</p>
        </div>
    {{/each}}
    
    <script type="javascript" src="/assets/js/app.js"></script>
    <script src="handlebars-v2.0.0.js"></script>
</body>
</html>